{% extends 'base.html.twig' %}

{% block body %}
<h1>PHP_Avance_my_quiz</h1>

<a href="/">Accueil</a>
<a href="/register">S'inscrire</a>
<a href="/login">Se connecter</a>

<h2>Catégories</h2>
{% endblock %}
